.header{
    width:100%;
    height:70px;
    background:white;
    border-bottom:1px solid #ececec;
}

.container{
    max-width:1200px;
    height:100%;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    text-decoration:none;
    color:#2563eb;
    font-size:22px;
    font-weight:700;
}

.menu{
    display:flex;
    gap:30px;
}

.menu a{
    text-decoration:none;
    color:#444;
}

.actions{
    display:flex;
    gap:10px;
}

.cartButton{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    width:42px;
    height:42px;
    cursor:pointer;
}